## This is a direct copy of Elizabeth's notebook except I changed the following things

In [1]:
# flag to display figures in graph
show_figures=1

In [2]:
import sys

sys.path.append( '..' )

In [3]:
import psycopg2
import pandas as pd
import numpy
import sparse
import config
import sys
import time
import importlib
#import sparse
import datetime
import pandas as pd
import numpy as np
import scipy.sparse
import matplotlib.pyplot as plt

import Utils.dbutils as dbutils
import Utils.data_utils as data_utils
import Generators.CohortGenerator as CohortGenerator
import Generators.FeatureGenerator as FeatureGenerator
import config
local_imports = (
    dbutils,
    data_utils,
    CohortGenerator,
    FeatureGenerator,
    config
)
for i in local_imports:
    i = importlib.reload(i)

In [4]:
# database connection
username = config.PG_USERNAME
password = config.PG_PASSWORD
database_name = config.DB_NAME

#config_path = 'postgresql://{username}:{password}@{database_name}'.format(
config_path = 'postgresql://{database_name}'.format(database_name = database_name)


    #username = username,
    #password = password,
   # database_name = database_name
#)

# schemas 
schema_name = 'eol_test_eheal' # all created tables will be created using this schema

# caching
reset_schema = False # if true, rebuild all data from scratch

# set up database, reset schemas as needed
db = dbutils.Database(config_path, schema_name)
if reset_schema:
    db.execute(
        'drop schema if exists {} cascade'.format(schema_name)
    )
db.execute(
    'create schema if not exists {}'.format(schema_name)
)

Executed 1 SQLs

## UTI

In [4]:
# Get all female condition events

In [5]:
%%time
sql = """
    select 
        a.condition_concept_id as concept_id,
        a.condition_start_date as condition_start_date,
        a.condition_occurrence_id as condition_occurrence_id,
        p.person_id as person_id
    from
        {omop_schema}.condition_occurrence a
    inner join
        {omop_schema}.person p
    on 
        a.person_id = p.person_id
    where 
        p.gender_source_value = 'F'

""".format(
    omop_schema=config.OMOP_CDM_SCHEMA,
    training_end_date='2020-01-01',
)
condition_df = db.query(sql)
condition_df.set_index(["condition_occurrence_id"])
display(condition_df.head())

   concept_id condition_start_date  condition_occurrence_id  person_id
0       75605           2017-10-21                340464887   32368467
1       81902           2017-12-03                349963424   32368467
2      141253           2019-09-30                494874498   32368467
3      444417           2017-10-21                340652444   32368467
4      141253           2019-09-30                494856569   32368467

CPU times: user 6min 23s, sys: 2min 9s, total: 8min 33s
Wall time: 20min 46s

In [6]:
'''%%time
sql = """
    select 
        a.condition_source_value as concept_code,
        a.condition_concept_id as concept_id,
        a.condition_start_date as condition_start_date,
        a.condition_occurrence_id as condition_occurrence_id,
        p.person_id as person_id
    from
        {omop_schema}.condition_occurrence a
    inner join
        {omop_schema}.person p
    on 
        a.person_id = p.person_id
    where 
        p.gender_source_value = 'F'

""".format(
    omop_schema=config.OMOP_CDM_SCHEMA,
    training_end_date='2020-01-01',
)
condition_df = db.query(sql)
condition_df.set_index(["condition_occurrence_id"])
display(condition_df.head())'''

'%%time\nsql = """\n    select \n        a.condition_source_value as concept_code,\n        a.condition_concept_id as concept_id,\n        a.condition_start_date as condition_start_date,\n        a.condition_occurrence_id as condition_occurrence_id,\n        p.person_id as person_id\n    from\n        {omop_schema}.condition_occurrence a\n    inner join\n        {omop_schema}.person p\n    on \n        a.person_id = p.person_id\n    where \n        p.gender_source_value = \'F\'\n\n""".format(\n    omop_schema=config.OMOP_CDM_SCHEMA,\n    training_end_date=\'2020-01-01\',\n)\ncondition_df = db.query(sql)\ncondition_df.set_index(["condition_occurrence_id"])\ndisplay(condition_df.head())'

In [7]:
len(condition_df)

162247860

In [8]:
## Get UTI Codes

In [9]:
%%time
uti_concept_ids = [194081, 
                   195588,
                   37018854,
                   37016338,
                   81902]

uti_string = ", ".join([f"'{x}'" for x in uti_concept_ids])
print(uti_string)

'194081', '195588', '37018854', '37016338', '81902'
CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 640 Âµs

In [10]:
#       81902 | Urinary tract infectious disease             | Condition | SNOMED        | Clinical Finding | S                | 68566005        | 1970-01-01       | 2099-12-31     | n
#      194081 | Acute cystitis                                | Condition | SNOMED        | Clinical Finding | S                | 68226007        | 1970-01-01       | 2099-12-31     | n
#      195588 | Cystitis                                      | Condition | SNOMED        | Clinical Finding | S                | 38822007        | 1970-01-01       | 2099-12-31     | n
#      195862 | Urethritis (REMOVED)                          | Condition | SNOMED        | Clinical Finding | S                | 31822004        | 1970-01-01       | 2099-12-31     | n
#      201353 | Irradiation cystitis (REMOVED)                | Condition | SNOMED        | Clinical Finding | S                | 11251000        | 1970-01-01       | 2099-12-31     | n
#      201792 | Nongonococcal urethritis (REMOVED)            | Condition | SNOMED        | Clinical Finding | S                | 84619001        | 1970-01-01       | 2099-12-31     | n
#    37016338 | Hematuria co-occurrent and due to cystitis       | Condition | SNOMED        | Clinical Finding | S                | 367171000119100 | 2016-01-31       | 2099-12-31     | n
#    37018854 | Hematuria co-occurrent and due to acute cystitis | Condition | SNOMED        | Clinical Finding | S                | 366941000119107 | 2016-01-31       | 2099-12-31     | n

In [11]:
%%time
# Filter by UTI concept ids in python to reduce query time
utis = condition_df[condition_df.concept_id.isin(uti_concept_ids)]
print(len(utis))
utis.head()

1462322
CPU times: user 1.79 s, sys: 1.52 s, total: 3.31 s
Wall time: 3.79 s

    concept_id condition_start_date  condition_occurrence_id  person_id
1        81902           2017-12-03                349963424   32368467
7        81902           2017-12-03                350102336   32368467
16       81902           2017-12-03                350098405   32368467
26       81902           2017-05-28                309136177   32368467
44       81902           2017-05-28                309017203   32368467

# get treatment information for all UTIs

In [12]:
# remove duplicates of dates 
utis_all = utis.drop_duplicates(subset= ['concept_id','person_id','condition_start_date'],keep='first', inplace=False,)

In [13]:
utis_all.to_sql("candidate_events_all",con=db.engine, if_exists="replace", schema="cdm_6871_21")

In [13]:
%%time
reload_antibiotic=0
username='cdm_6871_21'
password='MLHC2021'
database_name = 'omop_v6'
conn_string = "dbname="+database_name + " host=/var/run/postgresql"
conn=psycopg2.connect(conn_string)

if reload_antibiotic == 1:
    all_drugs = pd.read_sql("""SELECT * FROM cdm_6871_21.concept
                                 WHERE domain_id = 'Drug'""", conn)

### Identify the antibiotic in each drug name 
    # First Line
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("nitrofurantoin"), 'antibiotic_name'] = "nitrofurantoin"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("sulfamethoxazole"), 'antibiotic_name'] = "sulfamethoxazole"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("trimethoprim"), 'antibiotic_name'] = "trimethoprim"
    all_drugs.loc[(all_drugs["concept_name"].str.lower().str.contains("trimethoprim")) & \
                                 (all_drugs["concept_name"].str.lower().str.contains("sulfamethoxazole")), 'antibiotic_name'] = "trimethoprim-sulfamethoxazole"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("fosfomycin"), 'antibiotic_name'] = "fosfomycin"

    # Second Line
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("cephalexin"), 'antibiotic_name'] = "cephalexin"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("cephalexin"), 'antibiotic_name'] = "quinolone"


    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("ceftriaxone"), 'antibiotic_name'] = "ceftriaxone"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("cefuroxime"), 'antibiotic_name'] = "cefuroxime"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("cefdinir"), 'antibiotic_name'] = "cefdinir"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("cefazolin"), 'antibiotic_name'] = "cefazolin"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("cefepime"), 'antibiotic_name'] = "cefepime"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("cefpodoxime"), 'antibiotic_name'] = "cefpodoxime"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("cefixime"), 'antibiotic_name'] = "cefixime"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("cefadroxil"), 'antibiotic_name'] = "cefadroxil"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("amoxicillin"), 'antibiotic_name'] = "amoxicillin"
    all_drugs.loc[(all_drugs["concept_name"].str.lower().str.contains("amoxicillin")) & \
                                 (all_drugs["concept_name"].str.lower().str.contains("clavulan")), 'antibiotic_name'] = "amoxicillin-clavulanic acid"

    # Third Line

    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("ofloxacin"), 'antibiotic_name'] = "ofloxacin"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("levofloxacin"), 'antibiotic_name'] = "levofloxacin"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("ciprofloxacin"), 'antibiotic_name'] = "ciprofloxacin"

    # Inappropriate

    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("fluconazole"), 'antibiotic_name'] = "fluconazole"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("doxycycline"), 'antibiotic_name'] = "doxycycline"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("clindamycin"), 'antibiotic_name'] = "clindamycin"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("linezolid"), 'antibiotic_name'] = "linezolid"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("metronidazole"), 'antibiotic_name'] = "metronidazole"
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("azithromycin"), 'antibiotic_name'] = "azithromycin"
    
    # Alternative
    all_drugs.loc[all_drugs["concept_name"].str.lower().str.contains("beta-lactam"), 'antibiotic_name'] = 'beta-lactam'


    all_drugs = all_drugs.rename(columns={"concept_id": "drug_concept_id", "concept_name": "drug_name"})

    anti_new = all_drugs[['drug_concept_id','drug_name','antibiotic_name']]
    anti_new = anti_new[~anti_new.antibiotic_name.isna()]
    anti_new.to_sql("antibiotics_p1",con=db.engine, if_exists="replace", schema="cdm_6871_21")

if reload_antibiotic == 0:
    sql_command = "select * from cdm_6871_21.antibiotics_p1;"
    anti_new = pd.read_sql(sql_command,conn)


anti_new = anti_new.assign(nitrofuantoin=0)
anti_new = anti_new.assign(fosfomycin=0)
anti_new['trimethoprim-sulfamethoxazole'] =0
anti_new = anti_new.assign(second_line=0)
#anti_new = anti_new.assign(third_line=0)
anti_new = anti_new.assign(alternatives=0)
anti_new = anti_new.assign(inappropriate=0)
anti_new = anti_new.assign(antibiotic_type='')

###
count = 0
for idx, row in anti_new.iterrows():
    drug = row.antibiotic_name 
    if drug =='nitrofurantoin':
        anti_new.loc[idx, "nitrofurantoin"] = 1
        anti_new.loc[idx, "antibiotic_type"] ="nitrofurantoin"
    elif drug =='fosfomycin':
        anti_new.loc[idx, "fosfomycin"] = 1
        anti_new.loc[idx, "antibiotic_type"] ="fosfomycin"
    elif drug =='trimethoprim-sulfamethoxazole' or drug =='trimethoprim' or drug =='sulfamethoxazole':
        anti_new.loc[idx, 'trimethoprim-sulfamethoxazole'] = 1
        anti_new.loc[idx, "antibiotic_type"] ='trimethoprim-sulfamethoxazole'

       
    elif ("cef" in drug.lower()) or drug =='cephalexin' or ("amoxicillin" in drug.lower()):
        anti_new.loc[idx, 'alternatives'] = 1
        anti_new.loc[idx, "antibiotic_type"] ='alternatives'
        
    elif drug == "quinolone":
        anti_new.loc[idx, 'second_line'] = 1
        anti_new.loc[idx, "antibiotic_type"] ='second_line'

    elif 'ofloxacin' in drug.lower() :
        anti_new.loc[idx, 'second_line'] = 1
        anti_new.loc[idx, "antibiotic_type"] ='second_line'
    elif drug== 'fluconazole' or drug== 'doxycycline'or drug== 'clindamycin' or drug== 'linezolid' or drug== 'metronidazole' or drug =='azithromycin' or 'injection' in drug:
        anti_new.loc[idx, 'inappropriate'] = 1
        anti_new.loc[idx, "antibiotic_type"] ='inappropriate'


    '''    elif 'beta-lactam' in drug.lower() :
        anti_new.loc[idx, 'alternatives'] = 1
        anti_new.loc[idx, "antibiotic_type"] ='alternatives'
    '''

    count = count+1
    if count%5000 ==0:
        print(round(count/len(anti_new),2))
        
# remove patients with fosfomycin 

anti_new = anti_new[anti_new['fosfomycin']==0]
        
anti_new.to_sql("antibiotics_v2",con=db.engine, if_exists="replace", schema="cdm_6871_21")

0.04
0.09
0.13
0.18
0.22
0.26
0.31
0.35
0.4
0.44
0.49
0.53
0.57
0.62
0.66
0.71
0.75
0.79
0.84
0.88
0.93
0.97
CPU times: user 4min 7s, sys: 11.5 s, total: 4min 19s
Wall time: 4min 50s

In [5]:
%%time
reload_antibiotic=0
username='cdm_6871_21'
password='MLHC2021'
database_name = 'omop_v6'
conn_string = "dbname="+database_name + " host=/var/run/postgresql"
conn=psycopg2.connect(conn_string)

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 14.4 ms

In [6]:
%%time
cohort_treatments = pd.read_sql("""SELECT
                                uti.index,
                                uti.condition_occurrence_id, 
                                uti.person_id,
                                uti.concept_id,
                                uti.condition_start_date,
                                anti.*,
                                drug.drug_exposure_id,
                                drug.drug_exposure_start_date,
                                drug.drug_exposure_start_datetime
                           FROM cdm_6871_21.candidate_events_all uti

                           JOIN cdm_6871_21.drug_exposure drug ON 
                                       drug.person_id = uti.person_id AND
                                       drug.drug_exposure_start_date - uti.condition_start_date < 8 AND
                                       drug.drug_exposure_start_date - uti.condition_start_date > -1
                           JOIN cdm_6871_21.antibiotics_v2 anti ON
                                       drug.drug_concept_id = anti.drug_concept_id
                           ORDER BY 
                                    uti.condition_occurrence_id
                        """, conn)

CPU times: user 2.98 s, sys: 408 ms, total: 3.39 s
Wall time: 13min 26s

In [7]:
%%time
# Load antibiotic use in the previous 7 days 
cohort_treatments_drugs_past_7_day = pd.read_sql("""SELECT
                                uti.index,
                                uti.condition_occurrence_id, 
                                uti.person_id,
                                uti.concept_id,
                                uti.condition_start_date,
                                anti.*,
                                drug.drug_exposure_id,
                                drug.drug_exposure_start_date,
                                drug.drug_exposure_start_datetime
                           FROM cdm_6871_21.candidate_events_all uti

                           JOIN cdm_6871_21.drug_exposure drug ON 
                                       drug.person_id = uti.person_id AND
                                       drug.drug_exposure_start_date - uti.condition_start_date > -8 AND
                                       drug.drug_exposure_start_date - uti.condition_start_date < 0
                           JOIN cdm_6871_21.antibiotics_v2 anti ON
                                       drug.drug_concept_id = anti.drug_concept_id
                           ORDER BY 
                                    uti.condition_occurrence_id
                        """, conn)

CPU times: user 756 ms, sys: 64 ms, total: 820 ms
Wall time: 6min 38s

In [17]:
#UTI events with treatment
uti_unique = cohort_treatments
uti_unique = uti_unique.drop_duplicates(subset = ['condition_occurrence_id'], inplace = False, keep='first')
print('Unique UTI events with treatment')
print(len(uti_unique))


#UTI events with treatment but without treatment 7 days prior
condition_occurrence_id_to_exclude = cohort_treatments_drugs_past_7_day.condition_occurrence_id.unique()
cohort_treatments_new = cohort_treatments[~cohort_treatments.condition_occurrence_id.isin(condition_occurrence_id_to_exclude)]
uti_unique = cohort_treatments_new
uti_unique = uti_unique.drop_duplicates(subset = ['condition_occurrence_id'], inplace = False, keep='first')
print('Unique UTI events with treatment and without treatment 7 days prior')
print(len(uti_unique))

Unique UTI events with treatment
250583
Unique UTI events with treatment and without treatment 7 days prior
227959

In [19]:
cohort_treatments_new =cohort_treatments_new.drop(columns=['level_0'])
cohort_treatments_new.to_sql("uti_candidate_events_with_treatment",con=db.engine, if_exists="replace", schema="cdm_6871_21")

In [20]:
%%time
# Get the full condition item table
candidate_indices = cohort_treatments_new.condition_occurrence_id
candidate_indices_str = ", ".join([f"'{x}'" for x in candidate_indices])

sql = """
    select
        c.*,
        p.*
    from
        {omop_schema}.condition_occurrence c
    inner join
        {omop_schema}.uti_candidate_events_with_treatment p
    on 
        c.condition_occurrence_id = p.condition_occurrence_id
    where 
        c.condition_occurrence_id in ({candidate_indices_str}) 
""".format(
    omop_schema=config.OMOP_CDM_SCHEMA,
    candidate_indices_str=candidate_indices_str,
)
condition_candidates = db.query(sql)

CPU times: user 5.77 s, sys: 808 ms, total: 6.58 s
Wall time: 34min 1s

In [21]:
if 'level_0' in list(condition_candidates.keys()):
    condition_candidates=condition_candidates.drop(columns=['level_0'])


condition_candidates.to_sql("uti_candidate_events_treatment",con=db.engine, if_exists="replace", schema="cdm_6871_21")
db.execute("GRANT SELECT ON TABLE cdm_6871_21.uti_candidate_events_treatment TO cdm_6871_21;")

Executed 1 SQLs

In [18]:
%%time
cohort_raw = pd.read_sql("""SELECT
                                uti.index,
                                uti.condition_occurrence_id, 
                                uti.person_id,
                                uti.condition_concept_id,
                                uti.condition_start_date,
                                uti.condition_start_datetime,
                                uti.condition_end_date,
                                uti.condition_end_datetime,
                                uti.visit_occurrence_id,
                                uti.visit_detail_id,
                                anti.drug_concept_id, 
                                anti.drug_name,
                                anti.antibiotic_name,
                                anti.antibiotic_type,
                                v.provider_id AS visit_provider_id,
                                drug.drug_exposure_id,
                                drug.drug_exposure_start_date,
                                drug.drug_exposure_start_datetime,
                                drug.provider_id AS provider_id,
                                prov.provider_name,
                                prov.npi
                           FROM cdm_6871_21.uti_candidate_events_treatment uti
                           JOIN cdm_6871_21.visit_detail v ON 
                                   v.visit_detail_id = uti.visit_detail_id AND
                                   v.visit_detail_concept_id IN (581477, 9202)
                           JOIN cdm_6871_21.drug_exposure drug ON 
                                       drug.person_id = uti.person_id AND
                                       drug.drug_exposure_start_date - uti.condition_start_date < 8 AND
                                       drug.drug_exposure_start_date - uti.condition_start_date > -1
                           JOIN cdm_6871_21.antibiotics_v2 anti ON
                                       drug.drug_concept_id = anti.drug_concept_id
                           LEFT JOIN cdm_6871_21.provider prov
                                    ON prov.provider_id = drug.provider_id
                           ORDER BY 
                                    uti.condition_occurrence_id,
                                    prov.provider_name DESC NULLS LAST
                        """, conn)

CPU times: user 4.57 s, sys: 504 ms, total: 5.08 s
Wall time: 18min 33s

In [19]:
print('Size of df:')
print(len(cohort_raw))

Size of df:
442238

In [ ]:
#here

In [22]:
print('Size of df:')
print(len(cohort_raw))

Size of df:
442238

In [23]:
uti_unique = cohort_raw
uti_unique = uti_unique.drop_duplicates(subset = ['condition_occurrence_id','antibiotic_name'], inplace = False, keep='first')

print('Number of UTI events with treatment + proper visit:')
print(uti_unique.condition_occurrence_id.nunique())

Number of UTI events with treatment + proper visit:
225048

In [24]:
utis_with_treatment = cohort_raw

### find non-recurrent UTIs
use utis_all

In [25]:
utis = utis_with_treatment.copy()

In [26]:
utis = utis.sort_values(by=["person_id", "condition_start_date"], ascending=True)
utis = utis.assign(no_previous_180_day_event=True)

utis = utis.assign(no_two_previous_365_day_event=True)
utis = utis.assign(post_UTI_codes=0)
utis = utis.assign(recurrent_uti=False)
utis = utis.assign(first_uti=False)

utis = utis.assign(previous_uti=False)
utis = utis.assign(previous_utis=0)
utis = utis.assign(days_since_previous_uti=np.nan)
utis = utis.assign(previous_uti_condition_occurence_id=0)
utis = utis.assign(previous_uti_recurrent=False)


utis.head()

,index,condition_occurrence_id,person_id,condition_concept_id,condition_start_date,condition_start_datetime,condition_end_date,condition_end_datetime,visit_occurrence_id,visit_detail_id,...,no_previous_180_day_event,no_two_previous_365_day_event,post_UTI_codes,recurrent_uti,first_uti,previous_uti,previous_utis,days_since_previous_uti,previous_uti_condition_occurence_id,previous_uti_recurrent
318265,3828990,400169196,29,81902,2018-06-30,2018-06-30,None,None,912680,305154411,...,True,True,0,False,False,False,0,NaN,0,False
318266,213958,400169196,29,81902,2018-06-30,2018-06-30,None,None,912680,305154411,...,True,True,0,False,False,False,0,NaN,0,False
318267,3828990,400169196,29,81902,2018-06-30,2018-06-30,None,None,912680,305154411,...,True,True,0,False,False,False,0,NaN,0,False
318268,213958,400169196,29,81902,2018-06-30,2018-06-30,None,None,912680,305154411,...,True,True,0,False,False,False,0,NaN,0,False
425641,3854900,543518058,35,81902,2020-06-14,2020-06-14,None,None,912779,418770757,...,True,True,0,False,False,False,0,NaN,0,False

#### get rid of multiple drugs

In [27]:
uti_unique = utis.copy()
print('Number of UTI events + individual drugs')
print(len(uti_unique))

Number of UTI events + individual drugs
442238

In [28]:
# drop duplicate drug types
uti_unique = uti_unique.drop_duplicates(subset = ['condition_occurrence_id','antibiotic_name'], inplace = False, keep='first')

In [29]:
multi =pd.DataFrame(uti_unique['condition_occurrence_id'].value_counts()).reset_index()
condition_occurence_ids = list(multi[multi['condition_occurrence_id']>1]['index'])
print('IDs with multiple drugs:')
print(len(condition_occurence_ids))

IDs with multiple drugs:
34266

In [30]:
%%time
uti_unique = uti_unique.assign(multi = False)
count = 0
for ind, row in uti_unique.iterrows():
    if row.condition_occurrence_id in condition_occurence_ids:
        uti_unique.loc[ind,'multi'] = True
    count = count+1
    if count%5000==0:
        print(count/len(uti_unique))

0.018969212967353984
0.03793842593470797
0.056907638902061956
0.07587685186941594
0.09484606483676992
0.11381527780412391
0.1327844907714779
0.15175370373883187
0.17072291670618586
0.18969212967353985
0.20866134264089384
0.22763055560824783
0.24659976857560179
0.2655689815429558
0.28453819451030976
0.30350740747766375
0.32247662044501774
0.3414458334123717
0.3604150463797257
0.3793842593470797
0.3983534723144337
0.4173226852817877
0.43629189824914166
0.45526111121649565
0.47423032418384964
0.49319953715120357
0.5121687501185576
0.5311379630859115
0.5501071760532655
0.5690763890206195
0.5880456019879735
0.6070148149553275
0.6259840279226815
0.6449532408900355
0.6639224538573895
0.6828916668247434
0.7018608797920974
0.7208300927594514
0.7397993057268054
0.7587685186941594
0.7777377316615134
0.7967069446288674
0.8156761575962214
0.8346453705635754
0.8536145835309293
0.8725837964982833
0.8915530094656373
0.9105222224329913
0.9294914354003453
0.9484606483676993
0.9674298613350532
0.9863990743024071
CPU times: user 2min 48s, sys: 2.32 s, total: 2min 51s
Wall time: 2min 51s

In [31]:
# Drop multi drugs
uti_unique = uti_unique.drop_duplicates(subset = ['condition_occurrence_id'], inplace = False, keep='first')

utis = uti_unique.copy()

#### Get non_recurrent UTIs, and note previous UTI that had treatment

In [33]:
'''utis = utis.sort_values(by=["person_id", "condition_start_date"], ascending=True)
utis = utis.assign(no_previous_180_day_event=True)

utis = utis.assign(no_two_previous_365_day_event=True)
utis = utis.assign(post_UTI_codes=0)
utis = utis.assign(recurrent_uti=False)
utis = utis.assign(first_uti=False)

utis = utis.assign(previous_uti=False)
utis = utis.assign(previous_utis=0)
utis = utis.assign(days_since_previous_uti=np.nan)
utis = utis.assign(previous_uti_condition_occurence_id=0)
utis = utis.assign(previous_uti_recurrent=False)


utis.head()'''

'utis = utis.sort_values(by=["person_id", "condition_start_date"], ascending=True)\nutis = utis.assign(no_previous_180_day_event=True)\n\nutis = utis.assign(no_two_previous_365_day_event=True)\nutis = utis.assign(post_UTI_codes=0)\nutis = utis.assign(recurrent_uti=False)\nutis = utis.assign(first_uti=False)\n\nutis = utis.assign(previous_uti=False)\nutis = utis.assign(previous_utis=0)\nutis = utis.assign(days_since_previous_uti=np.nan)\nutis = utis.assign(previous_uti_condition_occurence_id=0)\nutis = utis.assign(previous_uti_recurrent=False)\n\n\nutis.head()'

In [33]:
print('UTI events, with multiple drugs denoted:')
print(len(utis))

UTI events, with multiple drugs denoted:
225048

In [34]:
%%time
import datetime
date_format = "%Y-%m-%d"
last_patient = None
last_date = None
d_old = None
c = 0
patient_count = 0
for index, row in utis.iterrows():
    p = row.person_id
    d = row.condition_start_date
    cond = row.condition_occurrence_id

    #days_since_last = (d - last_date).days
    if last_patient ==p:
        days_since_last = (d - last_date).days
        if days_since_last < 180:
            utis.loc[index, "no_previous_180_day_event"] = False
        if second_last_patient ==p:
            if days_since_last < 365 and (d - second_last_date).days < 365 and (last_date-second_last_date).days>14:
                utis.loc[index, "no_two_previous_365_day_event"] = False

        #utis.loc[index, "recurrent_uti"] = True
    # keep track of previous UTI 
    
        patient_count = patient_count+1
        utis.loc[index, "previous_uti"] = True
        utis.loc[index, "days_since_previous_uti"] = days_since_last
        utis.loc[index, "previous_utis"] = patient_count
        utis.loc[index, "previous_uti_condition_occurence_id"] = last_cond
        if ~((last_row["no_two_previous_365_day_event"]) * (last_row["no_previous_180_day_event"])):
            utis.loc[index, "previous_uti_recurrent"] = True
    else:
        patient_count = 0
    second_last_patient = last_patient       
    last_patient = p
    last_date = d
    second_last_date = d_old
    d_old = d
    last_cond = cond
    last_row = row
    c += 1
    if c%1000 == 0:
        print(c/len(utis))
print(len(utis))
utis.head(2)

0.00444349649852476
0.00888699299704952
0.013330489495574277
0.01777398599409904
0.022217482492623796
0.026660978991148554
0.031104475489673315
0.03554797198819808
0.03999146848672283
0.04443496498524759
0.048878461483772354
0.05332195798229711
0.05776545448082187
0.06220895097934663
0.06665244747787138
0.07109594397639615
0.07553944047492091
0.07998293697344566
0.08442643347197043
0.08886992997049518
0.09331342646901994
0.09775692296754471
0.10220041946606946
0.10664391596459422
0.11108741246311898
0.11553090896164374
0.11997440546016849
0.12441790195869326
0.12886139845721803
0.13330489495574277
0.13774839145426754
0.1421918879527923
0.14663538445131705
0.15107888094984182
0.15552237744836658
0.15996587394689132
0.1644093704454161
0.16885286694394086
0.1732963634424656
0.17773985994099037
0.18218335643951514
0.18662685293803988
0.19107034943656465
0.19551384593508941
0.19995734243361415
0.20440083893213892
0.2088443354306637
0.21328783192918843
0.2177313284277132
0.22217482492623797
0.2266183214247627
0.23106181792328748
0.23550531442181225
0.23994881092033699
0.24439230741886175
0.24883580391738652
0.2532793004159113
0.25772279691443606
0.26216629341296077
0.26660978991148554
0.2710532864100103
0.2754967829085351
0.27994027940705984
0.2843837759055846
0.2888272724041093
0.2932707689026341
0.29771426540115886
0.30215776189968363
0.3066012583982084
0.31104475489673317
0.3154882513952579
0.31993174789378265
0.3243752443923074
0.3288187408908322
0.33326223738935695
0.3377057338878817
0.34214923038640643
0.3465927268849312
0.35103622338345597
0.35547971988198074
0.3599232163805055
0.3643667128790303
0.368810209377555
0.37325370587607976
0.3776972023746045
0.3821406988731293
0.38658419537165406
0.39102769187017883
0.39547118836870354
0.3999146848672283
0.4043581813657531
0.40880167786427785
0.4132451743628026
0.4176886708613274
0.4221321673598521
0.42657566385837686
0.43101916035690163
0.4354626568554264
0.43990615335395117
0.44434964985247594
0.44879314635100065
0.4532366428495254
0.4576801393480502
0.46212363584657495
0.4665671323450997
0.4710106288436245
0.4754541253421492
0.47989762184067397
0.48434111833919874
0.4887846148377235
0.4932281113362483
0.49767160783477304
0.5021151043332978
0.5065586008318226
0.5110020973303473
0.5154455938288721
0.5198890903273968
0.5243325868259215
0.5287760833244464
0.5332195798229711
0.5376630763214959
0.5421065728200206
0.5465500693185453
0.5509935658170702
0.5554370623155949
0.5598805588141197
0.5643240553126444
0.5687675518111692
0.5732110483096939
0.5776545448082187
0.5820980413067435
0.5865415378052682
0.590985034303793
0.5954285308023177
0.5998720273008424
0.6043155237993673
0.608759020297892
0.6132025167964168
0.6176460132949415
0.6220895097934663
0.626533006291991
0.6309765027905158
0.6354199992890406
0.6398634957875653
0.6443069922860901
0.6487504887846148
0.6531939852831395
0.6576374817816644
0.6620809782801891
0.6665244747787139
0.6709679712772386
0.6754114677757634
0.6798549642742882
0.6842984607728129
0.6887419572713377
0.6931854537698624
0.6976289502683872
0.7020724467669119
0.7065159432654367
0.7109594397639615
0.7154029362624862
0.719846432761011
0.7242899292595357
0.7287334257580605
0.7331769222565853
0.73762041875511
0.7420639152536348
0.7465074117521595
0.7509509082506843
0.755394404749209
0.7598379012477339
0.7642813977462586
0.7687248942447833
0.7731683907433081
0.7776118872418328
0.7820553837403577
0.7864988802388824
0.7909423767374071
0.7953858732359319
0.7998293697344566
0.8042728662329814
0.8087163627315062
0.813159859230031
0.8176033557285557
0.8220468522270804
0.8264903487256052
0.8309338452241299
0.8353773417226548
0.8398208382211795
0.8442643347197042
0.848707831218229
0.8531513277167537
0.8575948242152786
0.8620383207138033
0.8664818172123281
0.8709253137108528
0.8753688102093775
0.8798123067079023
0.884255803206427
0.8886992997049519
0.8931427962034766
0.8975862927020013
0.9020297892005261
0.9064732856990508
0.9109167821975757
0.9153602786961004
0.9198037751946252
0.9242472716931499
0.9286907681916746
0.9331342646901994
0.9375777611887242
0.942021257687249
0.9464647541857737
0.9509082506842984
0.9553517471828232
0.9597952436813479
0.9642387401798728
0.9686822366783975
0.9731257331769223
0.977569229675447
0.9820127261739717
0.9864562226724966
0.9908997191710213
0.9953432156695461
0.9997867121680708
225048
CPU times: user 4min 46s, sys: 3.26 s, total: 4min 49s
Wall time: 4min 49s

,index,condition_occurrence_id,person_id,condition_concept_id,condition_start_date,condition_start_datetime,condition_end_date,condition_end_datetime,visit_occurrence_id,visit_detail_id,...,no_two_previous_365_day_event,post_UTI_codes,recurrent_uti,first_uti,previous_uti,previous_utis,days_since_previous_uti,previous_uti_condition_occurence_id,previous_uti_recurrent,multi
318265,3828990,400169196,29,81902,2018-06-30,2018-06-30,None,None,912680,305154411,...,True,0,False,False,False,0,NaN,0,False,True
425641,3854900,543518058,35,81902,2020-06-14,2020-06-14,None,None,912779,418770757,...,True,0,False,False,False,0,NaN,0,False,True

In [35]:
utis['recurrent_uti'] = ~((utis["no_two_previous_365_day_event"]) * (utis["no_previous_180_day_event"]))

/opt/conda/ehealey/lib/python3.8/site-packages/pandas/core/computation/expressions.py:204: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  warnings.warn(

In [36]:
non_recurrent_utis = utis[utis['recurrent_uti']==False ]
#non_recurrent_utis = utis[utis['first_uti']==True ]
print('Number of non-recurrent UTI events:')
print(len(non_recurrent_utis))
current_df = non_recurrent_utis

Number of non-recurrent UTI events:
159790

### Remove patients under 18 at time of UTI

In [37]:
%%time
username='cdm_6871_21'
password='MLHC2021'
database_name = 'omop_v6'
conn_string = "dbname="+database_name + " host=/var/run/postgresql"
conn=psycopg2.connect(conn_string)
print('Connected!')

sql_command = "select * from cdm_6871_21.person;"
person = pd.read_sql(sql_command,conn)
person.head()

Connected!
CPU times: user 15.3 s, sys: 1.62 s, total: 17 s
Wall time: 21.6 s

,person_id,gender_concept_id,year_of_birth,month_of_birth,day_of_birth,birth_datetime,death_datetime,race_concept_id,ethnicity_concept_id,location_id,provider_id,care_site_id,person_source_value,gender_source_value,gender_source_concept_id,race_source_value,race_source_concept_id,ethnicity_source_value,ethnicity_source_concept_id
0,290150,8532,1978,None,None,None,NaT,0,0,None,None,None,290150,F,0,None,0,None,0
1,471383,8507,1954,None,None,None,NaT,0,0,None,None,None,471383,M,0,None,0,None,0
2,572322,8532,1999,None,None,None,NaT,0,0,None,None,None,572322,F,0,None,0,None,0
3,726625,8532,1963,None,None,None,NaT,0,0,None,None,None,726625,F,0,None,0,None,0
4,889391,8532,2008,None,None,None,NaT,0,0,None,None,None,889391,F,0,None,0,None,0

In [39]:
people_cohort = person[person.person_id.isin(non_recurrent_utis.person_id) ]
people_cohort = people_cohort[['person_id','year_of_birth']]

non_recurrent_utis_w_ages = non_recurrent_utis.merge(people_cohort, how = 'left', on = 'person_id')
non_recurrent_utis_w_ages['age'] = np.nan

In [40]:
%%time
i= 0 
for index,row in non_recurrent_utis_w_ages.iterrows():
    person_ = row['person_id']
    #temp = people_cohort[people_cohort['person_id']==person_]
    year_of_birth = row['year_of_birth']
    if year_of_birth >0:
        non_recurrent_utis_w_ages.loc[index,'age'] = row['condition_start_date'].year - year_of_birth
    i = i+1
    #if i%10000==0:
        #print(i)

CPU times: user 1min 39s, sys: 1.2 s, total: 1min 40s
Wall time: 1min 40s

In [41]:
# remove under 18
non_recurrent_utis_over_18 =non_recurrent_utis_w_ages[non_recurrent_utis_w_ages['age']>17]
print('# of events after removing under 18:')
print(len(non_recurrent_utis_over_18))
current_df = non_recurrent_utis_over_18

# of events after removing under 18:
150867

### Remove Patients with certain procedures

##### Find excluded procedures

In [42]:
current_person_ids = current_df.person_id.unique()
print('# of current person IDs')
print(len(current_person_ids))

# of current person IDs
116432

In [43]:
%%time
## Load Procedures from cdm.procedure_occurence
current_person_str = ", ".join([f"'{x}'" for x in current_person_ids])
sql = """
    select
        p.procedure_concept_id as concept_id,
        p.procedure_date as date,
        person_id as person_id
    from
        {omop_schema}.procedure_occurrence p
    where 
        p.person_id in ({person_ids}) 
""".format(
    omop_schema=config.OMOP_CDM_SCHEMA,
    person_ids=current_person_str,
)
procedures = db.query(sql)
print(f"Procedures found: {len(procedures)}")

display(procedures.head(3))

Procedures found: 14573383

   concept_id        date  person_id
0     2721554  2020-09-05         29
1     2514527  2019-03-13         29
2     2213221  2020-10-05         29

CPU times: user 26.8 s, sys: 4.6 s, total: 31.4 s
Wall time: 11min 17s

In [44]:
%%time

# get procedure names from cdm.concept
sql = """
    select
        c.concept_name as concept_name,
        c.concept_id as concept_id
    from
        {omop_schema}.concept c
    where 
        c.domain_id = 'Procedure' 
""".format(
    omop_schema=config.OMOP_CDM_SCHEMA,
    person_ids=current_person_ids,
)
procedure_names = db.query(sql)
procedure_names.head(3)

CPU times: user 520 ms, sys: 84 ms, total: 604 ms
Wall time: 4.54 s

                                        concept_name  concept_id
0  CT of thorax, abdomen and pelvis with oral con...      506531
1   CT of abdomen and pelvis with oral contrast only      506532
2                 Cone beam CT guided laser ablation      506533

In [45]:
%%time
procedure_name_hits = ["central venous catheter", "surgery", "surgical", "ventilation", "hemodialysis", "parenteral nutrition"]
exclude_name_hits = "than hemodialysis"
# Placement of a central venous cather

procedure_ids = []
for ind, (name, cid) in procedure_names[["concept_name", "concept_id"]].iterrows(): 
    name = name.lower()
    for pn in procedure_name_hits:
        if pn in name and exclude_name_hits not in name:
#             print(f"Procedure: {name}, code: {cid}")
            procedure_ids.append(cid)
            break
print(f"Found {len(procedure_ids)} procedure concept codes to exclude")
excluded_procedures = procedures[procedures.concept_id.isin(procedure_ids)]
print(f"Excluded procedure events: {len(excluded_procedures)}")

Found 99068 procedure concept codes to exclude
Excluded procedure events: 472032
CPU times: user 22.8 s, sys: 248 ms, total: 23.1 s
Wall time: 23.1 s

In [38]:
### here

##### Find excluded conditions

In [46]:
%%time
# get concept names from cdm.concept
sql = """
    select
        c.concept_name as concept_name,
        c.concept_id as concept_id,
        c.domain_id as domain_id
    from
        {omop_schema}.concept c
    where 
        c.domain_id = 'Condition' 
""".format(
    omop_schema=config.OMOP_CDM_SCHEMA,
)
diagnosis_names = db.query(sql)

CPU times: user 588 ms, sys: 116 ms, total: 704 ms
Wall time: 4.1 s

In [47]:
%%time
condition_ids = []
condition_name_hits = ["pregnancy", "pyelo","catheter"]
for ind, (name, cid) in diagnosis_names[["concept_name", "concept_id"]].iterrows(): 
    name = name.lower()
    for pn in condition_name_hits:
        if pn in name:
            condition_ids.append(cid)
            break
print(f"Found {len(condition_ids)} to exclude")

Found 3259 to exclude
CPU times: user 22.3 s, sys: 876 ms, total: 23.1 s
Wall time: 23.1 s

In [48]:
%%time
excluded_conditions = condition_df[condition_df.concept_id.isin(condition_ids) & condition_df.person_id.isin(current_person_ids)]
print(len(excluded_conditions))
excluded_conditions = excluded_conditions[["concept_id", "condition_start_date", "person_id"]]
excluded_conditions = excluded_conditions.rename(columns={"condition_start_date":"date"})

236319
CPU times: user 3.44 s, sys: 804 ms, total: 4.24 s
Wall time: 4.24 s

##### Remove patients with the excluded conditions and procedures

In [49]:
%%time
excluded_table = pd.concat([excluded_conditions, excluded_procedures], ignore_index=True)
excluded_table

CPU times: user 188 ms, sys: 264 ms, total: 452 ms
Wall time: 449 ms

        concept_id        date  person_id
0          4280571  2020-06-15         35
1          4188598  2019-12-27        866
2          4060556  2020-01-17        866
3          4188598  2020-01-17        866
4          4188598  2020-03-20        866
...            ...         ...        ...
708346    42742388  2018-12-28   34673936
708347    42742388  2015-07-10   34673936
708348     2106407  2017-12-19   34673936
708349     2213286  2017-12-19   34673936
708350     2213283  2017-12-19   34673936

[708351 rows x 3 columns]

In [50]:
%%time
#  Create in memory cache of events
person_events = dict()
c = 0
from datetime import datetime
start = datetime.now()

l = len(excluded_table)
for _, (_, date, pid) in excluded_table.iterrows():
    c += 1
    if c % 100000 == 0:
        print(f"Time elapsed: {(datetime.now() - start)}")
        print(f"Iter: {c} / {l}")
        
    if pid in person_events:
        person_events[pid].add(date)
    else:
        person_events[pid] = set([date])

Time elapsed: 0:00:08.696766
Iter: 100000 / 708351
Time elapsed: 0:00:18.840919
Iter: 200000 / 708351
Time elapsed: 0:00:28.583756
Iter: 300000 / 708351
Time elapsed: 0:00:38.834002
Iter: 400000 / 708351
Time elapsed: 0:00:48.478497
Iter: 500000 / 708351
Time elapsed: 0:00:58.314351
Iter: 600000 / 708351
Time elapsed: 0:01:08.809605
Iter: 700000 / 708351
CPU times: user 1min 7s, sys: 1.98 s, total: 1min 9s
Wall time: 1min 9s

In [51]:
%%time
# Removes the event if a procedure happened in the last 180 days
#current_df.assign('No excluded procedure or condition')
#first_utis = utis[utis.no_previous_90_day_event].copy()
temp_df = current_df.assign(no_previous_180_excluded_event=True)
c = 0
from datetime import datetime
start = datetime.now()
l = len(temp_df)
for index, row in temp_df.iterrows():
    p = row.person_id
    d = row.condition_start_date
    if p in person_events.keys(): # added
        person_dates =  person_events[p]
        c += 1
        #if c % 10000 == 0:
            #print(f"Time elapsed: {(datetime.now() - start)}")
            #print(f"Iter: {c} ")
        for date in person_dates:
            if (d - date).days < 180 and (d - date).days > 0:
                temp_df.loc[index, "no_previous_180_excluded_event"] = False
                break
    
filtered_utis = temp_df[temp_df.no_previous_180_excluded_event].copy()

print(f"Final UTI list count: {len(filtered_utis)}")
filtered_utis.head(3)
current_df = filtered_utis

Final UTI list count: 121176
CPU times: user 28.1 s, sys: 580 ms, total: 28.7 s
Wall time: 28.7 s

### Remove more conditions if they occurred ever

In [52]:
%%time
condition_ids = []
condition_names_1 = []
condition_names_2 = []
condition_name_hits = [["neurogenic", "bladder"],["spina", "bifida"]]
for ind, (name, cid) in diagnosis_names[["concept_name", "concept_id"]].iterrows(): 
    name = name.lower()
    for lpn in condition_name_hits:
        pn = lpn[0]
        pn2 =lpn[1]
        #carcinoma OR cancer OR malignan) AND (bladder OR ureter OR kidney OR renal)
        if (('carcinoma' or 'cancer' or 'malignan') in name) and (('bladder' or 'ureter' or 'kidney' or 'renal')) in name:
            condition_ids.append(cid)
            condition_names_1.append(name)
            break
        elif pn in name and pn2 in name:
            condition_ids.append(cid)
            condition_names_2.append(name)
            break
print(f"Found {len(condition_ids)} to exclude")


excluded_conditions = condition_df[condition_df.concept_id.isin(condition_ids) & condition_df.person_id.isin(current_person_ids)]
print(len(excluded_conditions))
excluded_conditions = excluded_conditions[["concept_id", "condition_start_date", "person_id"]]
excluded_conditions = excluded_conditions.rename(columns={"condition_start_date":"date"})

excluded_table = excluded_conditions.copy()

Found 164 to exclude
22948
CPU times: user 25.7 s, sys: 1.79 s, total: 27.5 s
Wall time: 27.5 s

In [53]:
%%time
#  Create in memory cache of events
person_events = dict()
c = 0
from datetime import datetime
start = datetime.now()

l = len(excluded_table)
for _, (_, date, pid) in excluded_table.iterrows():
    c += 1
    if c % 100000 == 0:
        print(f"Time elapsed: {(datetime.now() - start)}")
        print(f"Iter: {c} / {l}")
        
    if pid in person_events:
        person_events[pid].add(date)
    else:
        person_events[pid] = set([date])

CPU times: user 1.92 s, sys: 148 ms, total: 2.06 s
Wall time: 2.06 s

In [54]:
%%time

temp_df = filtered_utis.assign(no_previous_excluded_event_ever=True)
c = 0
from datetime import datetime
start = datetime.now()
l = len(temp_df)
for index, row in temp_df.iterrows():
    p = row.person_id
    d = row.condition_start_date
    if p in person_events.keys(): # added
        person_dates =  person_events[p]
        c += 1
        #if c % 10000 == 0:
            #print(f"Time elapsed: {(datetime.now() - start)}")
            #print(f"Iter: {c} ")
        for date in person_dates:
            if (d - date).days > 0:
                temp_df.loc[index, "no_previous_excluded_event_ever"] = False
                break
    
filtered_utis = temp_df[temp_df.no_previous_excluded_event_ever].copy()

print(f"Final UTI list count: {len(filtered_utis)}")
filtered_utis.head(3)
current_df = filtered_utis

Final UTI list count: 120065
CPU times: user 13.7 s, sys: 304 ms, total: 14 s
Wall time: 14 s

In [55]:
filtered_utis = temp_df[temp_df.no_previous_excluded_event_ever].copy()

In [57]:
filtered_utis['person_id'].value_counts()

964230      8
1292686     7
18897189    7
5571868     7
4405580     6
           ..
20192084    1
859282      1
7615627     1
5518161     1
24688734    1
Name: person_id, Length: 97828, dtype: int64

In [58]:
filtered_utis.to_sql("cohort_final_updated_treatments",con=db.engine, if_exists="replace", schema="cdm_6871_21")
db.execute("GRANT SELECT ON TABLE cdm_6871_21.cohort_final_updated_treatments TO cdm_6871_21;")

Executed 1 SQLs

#### Get patients with 1 year of observation time

In [24]:
username='cdm_6871_21'
password='MLHC2021'
database_name = 'omop_v6'
conn_string = "dbname="+database_name + " host=/var/run/postgresql"
conn=psycopg2.connect(conn_string)

sql_command = "select * from cdm_6871_21.cohort_final_updated_treatments;"
cohort = pd.read_sql(sql_command,conn)
cohort.condition_occurrence_id.nunique()

120065

In [6]:
# remove patients with insufficieny follow-up time

In [7]:
%%time
sql_cmd = 'select * from cdm_6871_21.visit_detail where person_id in (select person_id from cdm_6871_21.cohort_final_updated_treatments)'
visits = pd.read_sql(sql_cmd, conn)
visits.head()

CPU times: user 2min 43s, sys: 34.7 s, total: 3min 17s
Wall time: 4min 33s

,visit_detail_id,person_id,visit_detail_concept_id,visit_detail_start_date,visit_detail_start_datetime,visit_detail_end_date,visit_detail_end_datetime,visit_detail_type_concept_id,provider_id,care_site_id,discharge_to_concept_id,admitted_from_concept_id,admitted_from_source_value,visit_detail_source_value,visit_detail_source_concept_id,discharge_to_source_value,preceding_visit_detail_id,visit_detail_parent_id,visit_occurrence_id
0,19828375,1850532,581477,2013-05-01,2013-05-01,2013-05-01,2013-05-01,32021,524834,None,0,0,None,2294159961,0,~,None,None,38112738
1,406283058,4781602,581477,2020-06-06,2020-06-06,2020-06-06,2020-06-06,32021,4230642,None,0,0,None,4557351389,0,~,None,None,71271096
2,406283059,4781602,581477,2020-06-06,2020-06-06,2020-06-06,2020-06-06,32021,4230642,None,0,0,None,45573513819,0,~,None,None,71271096
3,406283060,4781602,581477,2020-06-06,2020-06-06,2020-06-06,2020-06-06,32021,4230642,None,0,0,None,4557351381,0,~,None,None,71271096
4,406283061,4781602,581477,2020-06-06,2020-06-06,2020-06-06,2020-06-06,32021,4230642,None,0,0,None,4557351384,0,~,None,None,71271096

In [25]:
first_visits = visits.groupby('person_id')[['visit_detail_start_date']].min()

In [26]:
first_visits.rename(columns={'visit_detail_start_date':'first_visit_date'}, inplace=True)
final = cohort.join(first_visits, on='person_id')

In [27]:
final['first_visit_date'] = pd.to_datetime(final['first_visit_date'])
final['condition_start_date_dt'] = pd.to_datetime(final['condition_start_date'])
final['followup_time'] = final['condition_start_date_dt'] - final['first_visit_date']

In [28]:
import datetime as dt

In [29]:
cohort = final[final.followup_time >= dt.timedelta(days=365)]

In [30]:
print('UTIs total with sufficient observation time')
print(len(cohort))

UTIs total with sufficient observation time
80753

In [31]:
# remove multiple drrugs

In [32]:
cohort['multi'].value_counts()

False    68503
True     12250
Name: multi, dtype: int64

In [33]:
final = cohort[cohort['multi']==False]

In [34]:
print('UTIs total without multiple drigs')
print(len(final))

UTIs total without multiple drigs
68503

In [35]:
# drop columns for formatting
final = final.drop(['first_visit_date','followup_time','condition_start_date_dt'],axis = 1)

In [38]:
final = final.drop(['level_0'],axis=1)

In [39]:
final.to_sql("cohort_manuscript_updated_treatments_ncj",con=db.engine, if_exists="replace", schema="cdm_6871_21")
db.execute("GRANT SELECT ON TABLE cdm_6871_21.cohort_manuscript_updated_treatments_ncj TO cdm_6871_21;")

Executed 1 SQLs